*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.h2-style{
  padding: 20px 10px;
}
.h4-padding{
  padding-top: 30px;
}
.arriving-h2-padding{
  padding-top: 50px;
}


@media (max-width: 767.98px) {
.row{
  flex-direction: column;
}
.footer-mobile{
  display: inline-block;
}
}